
body{
  background-color: #212121;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  display: flex;
  justify-content: space-between;
  height: 72px;
  margin-left: 100px;
  margin-right: 100px;
}
nav img{
  border-radius: 70px;
  border: 5px solid rgb(245, 161, 175);

}
ul{
  display: flex;
  list-style: none;
  cursor: pointer;
}

li{
  padding: 15px;
  font-weight: 700;
  transition: filter 300ms;
}
li:hover{
  filter: drop-shadow(0 0 2em #3139dbaa);
}